<div ng-app="enquete" ng-controller="enquete" id="enquete">
  <div id="funifier-enquete-widget">
    <div class="enquete-header">{{t('enqueteTitle')}}</div>
    <div class="enquete-content">
      <div ng-if="questions.length > 0 && !submitted" class="question-section">
        <h3 class="question-title">{{questions[currentQuestionIndex].question}}</h3>
        <div ng-if="questions[currentQuestionIndex].type === 'MULTIPLE_CHOICE'">
          <div ng-repeat="choice in questions[currentQuestionIndex].choices" class="answer-option">
            <input type="radio" ng-model="userAnswer" ng-value="choice.answer" name="enqueteAnswer" />
            <span>{{choice.label}}</span>
          </div>
        </div>
        <div ng-if="questions[currentQuestionIndex].type === 'TEXT'">
          <input type="text" ng-model="userAnswer" class="answer-input" placeholder="Digite sua resposta" />
        </div>
        <button ng-click="submitAnswer()" ng-disabled="!userAnswer" class="submit-button">{{t('submit')}}</button>
      </div>
      <div ng-if="submitted" class="results-section">
        <p class="thank-you-message">{{thankYouMessage}}</p>
        <button ng-click="restart()" class="next-button">Reiniciar</button>
      </div>
      <div ng-if="questions.length === 0 || currentQuestionIndex < 0" class="empty-message">
        Nenhuma pergunta disponível.
      </div>
      <div class="language-toggle" ng-click="toggleLanguage()">
        {{currentLang === 'pt' ? '🇺🇸 EN' : '🇧🇷 PT'}}
      </div>
    </div>
  </div>
</div>